.Table {
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: center;
}
.Table th, .Table td {
	border: 1px solid black;
	padding: 0.2em 0.4em;
}
.OuterTable {
	border-collapse: collapse;
	font-size: 0.9em;
	text-align: center;
}
.OuterTable th {
	border: 1px solid black;
	padding: 0.2em 1em;
}
.OuterTable tfoot {
	background-color: lavender;
	font-weight: bold;
}
.OuterTable tfoot td {
	border: 1px solid black;
	padding: 0.1em 0.4em;
}
.InnerTable {
	width: 100%;
	border-collapse: collapse;
}
.InnerTable tr:not(:last-child) {
	border-bottom: 1px solid black;
}
.InnerTable td {
	padding: 0.2em 0.4em;
}
.InnerTable_Wrapper {
	/*overflow-y: scroll;*/
}
.InnerTableRow {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	/*margin: auto; */
}
.InnerTableRow td {
	padding: 0.2em 0.4em;
}
.Border {
	border: 1px solid black;
	padding: 0;
}
.BorderSpaced {
	border: 1px solid black;
	padding: 0.2em 0.4em;
}
.BorderLeft {
	border-left: 1px solid black;
}