.Form_Import_Left {
	float: left;
}
.Form_Import_Right {
	margin-left: 360px;
	overflow: auto;
}
.Form_Import_Preview {
	font-size: 0.8em;
	width: 350px;
	height: 300px;
	overflow: auto;
	border: 1px solid black;
	position: absolute;
	background: white;
	padding: 0 0.5em 0.5em 0.5em;
	display: block;
	top: 65px;
	left: 720px;
}
.Form_Import_Preview div {
	margin-top: 0.5em;
	/*height: 86%;
	width: 100%;
	overflow: auto;*/
}
.Form_Import_Preview table {
	border-collapse: collapse;
	color: dimgray;
	text-align: center;
	padding: 0.2em;
}
.Form_Import_Preview th, .Form_Import_Preview td {
	border: 1px solid gray;
}
.Form_Import_DisableMask { /*Style for the mask applied in the body of the form to disable it*/
	position: absolute;
	width: 98%;
	opacity: 0.9;
	background-color: white;
	z-index: 1000;
	display: none;
}
.Form_Import_DisableMask p {
	text-align: center;
	font-size: 1.2em;
	color: red;
}
/*
.FormFile_FieldSet {
	margin-top: 5px;
	margin-left: 10px;
}
.FormFile_Section {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#FormFileImport_InputLeft {
	float: left;
	width: 310px;
}
#FormFileImport_InputRight {
	margin-left: 310px;
	width: 280px;
	height: 280px;
	overflow: auto;
}
#FormFileImport_InputTable {
	border-collapse: collapse;
	text-align: center;
	font-size: 0.9em;
	width: 100%;
}
#FormFileImport_InputTable td, #FormFileImport_InputTable th {
	border: 1px solid gray;
}
#FormFileImport_InputTableWrapper {
	max-height: 240px;
	width: 270px;
	overflow: scroll;
}
#FormFileImport_ManualInput {
	width: 230px;
	height: 180px;
}
#FormFileImport_ParsingOptions {
	float: left;
	height: 250px;
}
.FormFile_Controls label.ui-checkboxradio-label {
	margin-bottom: 5px;
}
.FormFile_Preview {
	height: 250px;
}
.FormFile_PreviewContent {
	font-size: 0.8em;
	width: 350px;
}
.FormFile_TableWrapper {
	margin-top: 5px;
	overflow: auto;
	height: 220px;
	border: 1px solid blue;
}
.FormFile_PreviewTable {
	color: dimgray;
	background-color: whitesmoke;
	border-collapse: collapse;
}
.FormFile_PreviewTable th {
	border-bottom: 1px solid black;
	padding: 0px 5px;
}
.FormFile_PreviewTable td {
	padding: 0px 5px;
	border-bottom: 1px solid gray;
}
.FormFile_TextInput {
	padding: 0.3em;
}
*/