.Form_Mask { /*Style for the mask applied in the background when a form opens*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: gray;
}
.Form_Wrapper { /*Style for the container of the form*/
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid black;
	margin: auto;
	background: white;
	position: absolute;
	box-shadow: 5px 5px 5px gray;
}
.Form_Header { /*Style for the div containing the header*/
	background: #e9e9e9;
	padding: 0.5em;
	font-weight: bold;
	cursor: move;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	overflow: auto;
}
.Form_Header:hover {
	user-select: none;
}
.Form_Title { /*Style for the div containing the title*/
	float: left;
	overflow: auto;
}
.Form_Closure { /*Style for the "X" top-right to close the form*/
	width: 1em;
	line-height: 1em;
	float: right;
	background-color: salmon;
	color: white;
	text-align: center;
	border: 1px solid gray;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	cursor: pointer;
	padding: 0.1em;
}
.Form_Closure:hover {
	background-color: red;
	border: 1px solid black;
}
.Form_Body { /*Style for the body*/
	min-height: 50px;
	padding: 0.5em;
	overflow: auto;
}
.Form_Footer { /*Style for the footer containing the buttons*/
	border-top: 1px solid silver;
	text-align: right;
	padding: 0.5em;
}